<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.example.sampletext" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>sample-text</name><js-module name="sample-text" src="www/sample-text.js"><clobbers target="cordova.plugins.sample-text" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="sample-text"><param name="android-package" value="com.example.sampletext.sample-text" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/sample-text.java" target-dir="src/com/example/sampletext/sample-text" /></platform></plugin>